:root {
    --branco-principal: #000000;
    --cinza-secundario: #D9D9D9;
    --botao-azul: #167bf7;
    --cor-de-fundo: #dddddd;
}

body {
    background-color: var(--cor-de-fundo);
   color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}